.select-style {
  margin: 10px 18px;
  background-color: #555;
  color: #fff 
}
.item-image {

}

.item-name {
  padding: 10px 0;
  color: #e2293f;
  text-decoration: none;
}
.item-name:hover {
  color: #e66473;
  text-decoration: none;
}

.item-delete {
   background-color: #f38404;
   border: none;
   padding: 2 10px;
}