.food-image {
  width: 30%;
  height: 40%;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .main {
    display: inline-flex;
    margin: 0 250px;
  }
}
@media only screen and (max-width: 768px) {
  .main {
    display: inline-flex;
  }
}